/* Navbar Styling*/
.navbar {
  flex-direction: column;
  height: 120px;
  padding: 20px 0;
}

.navbar ul li a {
  padding: 10px 20px;
  margin: 0;
}

/* ShowCase Content */
.lead {
  font-size: 45px;
}

.small-lead {
  font-size: 20px;
}

/* Icons&Team Styling */
.flex-items {
  flex-direction: column;
}

.flex-items img {
  width: 80%;
}

/* Border Styling */
.team .border {
  border-right: none;
  border-bottom: rgba(51, 51, 51, 0.4) 1px solid;
}

.border {
  border-right: none;
  border-bottom: rgba(40, 167, 69, 0.5) 1px solid;
}

.border:last-child {
  border-bottom: none;
}

/* Solutions&Blog Styling */
.flex-columns .row .column {
  flex: 100%;
  max-width: 100%;
}

.flex-columns h2 {
  font-size: 30px;
}

/* Cases */
.flex-grid .row .column {
  flex: 50%;
  max-width: 50%;
  padding: 0 3px;
}

.section-header h2 {
  font-size: 30px;
  margin: 20px 0;
}

/* Post */
.post h2 {
  font-size: 30px;
}

.post img {
  width: 100%;
}
